{% extends "magasin/base.html" %}
{% block content %}
<style>
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    text-align: center;
  }

  h2 {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;
    color: #337ab7;
  }
</style>

<h2>Réinitialisation du mot de passe</h2>
<p>Vous avez demandé la réinitialisation de votre mot de passe en indiquant ce courriel: <strong>{{ email }}</strong>.</p>
<p>Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe :</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Réinitialiser le mot de passe</a></p>
{% endblock %}
