{% extends "magasin/base.html" %}
{% block content %}
<style>
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    text-align: center;
  }

  h2 {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 20px;
  }

  a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #337ab7;
    color: #fff;
    border-radius: 4px;
  }
</style>

<h2>Mot de passe réinitialisé.</h2>
<p>Votre mot de passe a été réinitialisé avec succès. Revenir à <a href="{% url 'login' %}">la page de connexion</a>.</p>
{% endblock %}
